.menuArea
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttonCategorias
{
    background-color: #98A25B;
    width: 90%;
    height: 90%;
    height: auto;
    border-radius: 25px;
    font-size: 1.5em;
    color: white;
    
}


.menuAreaOculta
{
    width: 90%;
    background-color: #98A25B;
    display: none;
    border-radius: 25px;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    list-style: none;
    padding-left: 10px;


    position: absolute;
    top: 22%;


    border: 1px solid #ffffff;
    padding: 10px;

}
li
{
border-bottom: 1px solid white;
}

.buttonCategorias:hover + .menuAreaOculta {
    display: block;
  }

  /* menu dropdown template */
  

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    align-items: center;
  }
  
  .dropdown-toggle {
    width: 90%;
    border-radius: 10px;
    background-color: #98A25B;
    border: 1px solid #ccc;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
  }
  
  .dropdown-menu {
    position: absolute;
    width: 90%;
    top: 100%;
    left: 0;
    background-color: #98A25B;
    border: 1px solid #ccc;
    border-top: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    color: white;
    
  }
  
  .dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }