.menuAreaOculta
{
    width: 90%;
    height: 80%;
    background-color: #98A25B;


    border-radius: 25px;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
}
li
{
border-bottom: 1px solid white;
}